.heading {
    font-size: 17px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.about-me > p {
    margin-top: 0px;
    font-size: 14px;
}

.skills-container {
    font-size: 13.5px;
}

.experience-container {
    font-size: 13.5px;
    margin-bottom: 15px;
}

.dates-container {
    font-size: 12px;
}

.socials-container > a > img {
    margin: 2.5px;
}

.images {
    margin: auto;
    margin-top: -2.5px;
    margin-bottom: 10px;
    width: 125px;
}

.profile-pic {
    border-radius: 50%;
    width: 125px;
}

.content > h5 {
    margin-top: -20px;
}
