<div class="heading">
  <div class="images">
    <img class="profile-pic" width="140" height="160" src="/assets/images/IMG_7490-edited.jpg">
  </div>
</div>

<section class="about-me">
  <h2> Hey there, I'm Shams 👋🏻 </h2>
  <p>
    I’ve loved computers since I was 8 years old, and by the time I was 12, I was typing at an impressive 100 words per
    minute! 🖥️ <br>
    I grew up gaming, then later discovered the captivating nature of programming through learning Python 🐍
  </p>
</section>

<section> <u>SKILLS</u>
  <div class="skills-container" *ngFor="let skill of skills">
    {{skill}}
  </div>
</section>

<section>
  <u>EXPERIENCE</u>
  <div class="experience-container" *ngFor="let experience of experiences; let i = index">
    <div>{{ experience }}</div>
    <div class="dates-container">{{ dates[i] }}</div>
  </div>
</section>

<hr class="separator">

<section class="socials">
  <div class="socials-container">
    <a href="https://www.linkedin.com/in/shams-h/"><img width="30" height="30"
        src="/assets/images/linkedin-icon.svg"></a>
    <a href="https://github.com/shams-hasan"><img width="30" height="30" src="/assets/images/github-icon.svg"></a>
    <a href="mailto:shams.hasan.dev@proton.me"> <img width="30" height="30" src="/assets/images/proton-icon.png"> </a>
  </div>
</section>